<%- include('../layouts/header.ejs') -%>


<div class="container mt-5">
    <h4>Welcome <%= User.name %></h4>

    <table class="table table-bordered mt-3">
        <tr>
            <td><%= User.email %></td>
        </tr>
        <tr>
            <td><%= User.mobile %></td>
        </tr>
    </table>

    <a href="/logout" class="btn btn-primary mt-3">Click Here To Logout</a>
</div>


<% include('../layouts/footer.ejs') -%>